body {
	font-size: 15px;
	font-weight: 700;
	width: 100vw;
	height: 100vh;
	background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
	background-position: right top, left bottom;
	background-repeat: no-repeat;
}

.pricingContainer {
	/* border-style: solid;
	border-color: black; */
	display: flex;
	flex-direction: column;

	/* 
	align-content: space-around;
	align-items: center;
	 */
	/* 
	*/
	text-align: center;
	/* background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
	background-position: right top, left bottom;
	background-repeat: no-repeat; */
}

.plansContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* border-style: solid;
	border-color: black; */
}
.plansDetails {
	/* border-style: solid;
	border-color: black; */
	/* border: 2px; */
	background: hsl(240, 78%, 98%);
	width: 400px;
	height: auto;
	padding: 20px;
	border-radius: 25px;
}
button {
	width: 80%;
	/* height: 40px; */
	border-radius: 10px;
}
.plansDetails:hover {
	background: linear-Gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	transform: scale(1.1);
}
.plansDetails:hover button {
	background: white;
}
.heading {
	padding: 10px;
}

.plans {
	padding: 10px;
	padding-bottom: 40px;
}
p {
	line-height: 60px;
	font-size: 25px;
}
button {
	line-height: 60px;
	/* font-size: 25px; */
	background: linear-Gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
.price {
	/* font-size: 50px; */
}
